

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');


/* IMPOSTAZIONI GENERALI */
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 1.65em;
    color: #393d41;
    font-size: 1.2rem;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.5em;
    margin: 2% 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}



/* HEADER */
header {
    background-color: black;
    width: 100%;
}
 
header img {
    width: 200px;
    margin: 10%;
}



/* MAIN */
main {
    width: 100%;
}

.title {
    padding: 10% 5%;
    height: 400px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
}

.title p {
    margin: 5%;
    font-size: 1.3em;
}

.title h1 {
    color: #25a2c3;
}

.title button {
    margin: 5%;
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    color: white;
    border-radius: 5px;
    border: none;
    width: 10em;
    height: 3em;
    font-size: 1.2em;
    cursor: pointer;
}

.content {
    margin: 40px;
    text-align: center;
}

.content img {
    width: 300px;
    border-radius: 300px;
}

.contfoot {
    color: white;
    background-color: #f04c2f;
    padding: 40px 10px;
    margin-bottom: 4em;
}

.contfoot > h1 {
    color: white;
    text-decoration: none;
}

.contfoot1 {
    margin-top: 1em;
    font-style: italic;
    text-decoration: none;
}

.contfoot2 {
    margin-top: 1em;
    font-size: 1.3em;
}

.contfoot2 span {
    font-size: 0.7em;
}

.contextra {
    width: 85vw;
    margin: 0px auto;
    margin-bottom: 1em;
    border: 1px solid #dee1e3;
    border-radius: 2px;
}

.contextra img {
    width: 100%;
    height: 250px;
}

.contextra h2 {
    margin: 4%;
}

.contextra p {
    margin: 0 5% 10% 5%;
}


/* FOOTER */
footer {
    width: 100%;
    height: 400px;
    color: #c8e7f0;
    background-color: #25a2c3;
    margin-top: 4em;
}

footer hr {
    margin: 10% 25%;
}

footer a {
    color: #c8e7f0;
}

.footer1 > h2 {
    color: white;
    padding-top: 10%;
    padding-bottom: 3%;
    font-size: 2em;
}


